{% extends 'index.html' %}
  {% block titulo %}
    Edital
  {% endblock %}

{% block container %}
<section id="section-avaliacao">
  <small><a href="/">Home</a> | <a href="/avaliacao">Avaliação</a></small>
  <h1 class="experiencia-title">Experiência no Site</h1><br>
	<ul class="card-avaliacao">
		{% for c in clientes %}
			<li class="list-avaliacao"> Avaliação de {{ c.nome }} <br>
        {% for n in range(c.nota) %}
        <img src="static/img/estrela.png" width="20px" height="20px" class='star'>
        {% endfor %}
      </li>
		{% endfor %}
	</ul>
</section>
{% endblock %}