{% extends 'index.html' %}
  {% block titulo %}
    Edital
  {% endblock %}

{% block container %}
<main class="main-login">
  <div class="left-login">
    <div class="container-edital"></div>
  </div>
  <div class="right-login">
    <div class="card-container-edital">
      <p>Edital n° 005/2022 - ifrn - processo seletivo para o Programa TAL</p>
    </div>
    <div class="card-container-edital">
      <p>Edital n° 005/2022 - ifrn - processo seletivo para o Programa TAL</p>
    </div>
    <div class="card-container-edital">
      <p>Edital n° 005/2022 - ifrn - processo seletivo para o Programa TAL</p>
    </div>
    <div class="card-container-edital">
      <p>Edital n° 005/2022 - ifrn - processo seletivo para o Programa TAL</p>
    </div>
  </div>
</main>
{% endblock %}