{% extends 'index.html' %}
  {% block titulo %}
    Sobre
  {% endblock %}

{% block container %}
<main class="main-sobre">
  <div class="sobre">
    <small><a href="/">Home</a> | <a href="/sobre">Sobre</a></small>
    <h1>O programa <span>TAL</span></h1>
    <p>Tutoria e Aprendizagem de Laboratório é uma estratégia elaborada pelo IFRN para auxiliar na melhoria do processo ensino-aprendizagem onde o Tutor (bolsista) e os estudantes que estão precisando de apoio em determinadas disciplinas estabelecem trocas de experiências teórico-práticas.</p>
  </div>
  <div class="group-cards">
    <div class="card">
      <div class="card-icon">
        <img src="/static/img/lamp.svg" alt="lamp">
      </div>
      <h3>Experiência</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a leo vel neque varius iaculis. Suspendisse malesuada dolor lectus, faucibus cursus nisi mattis ultrices.</p>
    </div>
    <div class="card">
      <div class="card-icon">
        <img src="/static/img/cash.svg" alt="cash">
      </div>
      <h3>Bolsa</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a leo vel neque varius iaculis. Suspendisse malesuada dolor lectus, faucibus cursus nisi mattis ultrices.</p>
    </div>
    <div class="card">
      <div class="card-icon">
        <img src="/static/img/graduation.svg" alt="graduation">
      </div>
      <h3>Aprendizado</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a leo vel neque varius iaculis. Suspendisse malesuada dolor lectus, faucibus cursus nisi mattis ultrices.</p>
    </div>
  </div>
</main>
{% endblock %}